<div>
    <h2 id="page-heading">
        <span jhiTranslate="enotesApp.serviceEntryTimeLog.home.title">Service Entry Time Logs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-entry-time-log" [routerLink]="['/service-entry-time-log/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enotesApp.serviceEntryTimeLog.home.createLabel">
            Create a new Service Entry Time Log
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceEntryTimeLogs?.length === 0">
        <span jhiTranslate="enotesApp.serviceEntryTimeLog.home.notFound">No serviceEntryTimeLogs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceEntryTimeLogs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceEntryTimeLog.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceEntryTimeLog.lastModifiedDate">Last Modified Date</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceEntryTimeLog.serviceEntry">Service Entry</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceEntryTimeLog.modifiedBy">Modified By</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceEntryTimeLog.createdBy">Created By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceEntryTimeLog of serviceEntryTimeLogs ;trackBy: trackId">
                    <td><a [routerLink]="['/service-entry-time-log', serviceEntryTimeLog.id, 'view']">{{ serviceEntryTimeLog.id }}</a></td>
                    <td>{{ serviceEntryTimeLog.createdDate | date:'medium' }}</td>
                    <td>{{ serviceEntryTimeLog.lastModifiedDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="serviceEntryTimeLog.serviceEntry">
                            <a [routerLink]="['/service-entry', serviceEntryTimeLog.serviceEntry?.id, 'view']" >{{ serviceEntryTimeLog.serviceEntry?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ serviceEntryTimeLog.modifiedBy?.id }}
                    </td>
                    <td>
                        {{ serviceEntryTimeLog.createdBy?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-entry-time-log', serviceEntryTimeLog.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service-entry-time-log', serviceEntryTimeLog.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(serviceEntryTimeLog)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
