<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="frequency">
            <h2><span jhiTranslate="enotesApp.frequency.detail.title">Frequency</span> {{ frequency.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enotesApp.frequency.name">Name</span></dt>
                <dd>
                    <span>{{ frequency.name }}</span>
                </dd>
                <dt><span jhiTranslate="enotesApp.frequency.description">Description</span></dt>
                <dd>
                    <span>{{ frequency.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/frequency', frequency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
