<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoPoint">
            <h2><span jhiTranslate="enotesApp.geoPoint.detail.title">Geo Point</span> {{ geoPoint.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enotesApp.geoPoint.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ geoPoint.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="enotesApp.geoPoint.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ geoPoint.longitude }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-point', geoPoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
