<div>
    <h2 id="page-heading">
        <span jhiTranslate="enotesApp.person.home.title">People</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enotesApp.person.home.createLabel">
            Create a new Person
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
        <span jhiTranslate="enotesApp.person.home.notFound">No people found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.displayName">Display Name</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.profilePicture">Profile Picture</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.birthdate">Birthdate</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.notes">Notes</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.mobileNumber">Mobile Number</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.lastModifiedDate">Last Modified Date</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.preferredLanguage">Preferred Language</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.person.gender">Gender</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people ;trackBy: trackId">
                    <td><a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a></td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.displayName }}</td>
                    <td>
                        <a *ngIf="person.profilePicture" (click)="openFile(person.profilePictureContentType, person.profilePicture)">
                            <img [src]="'data:' + person.profilePictureContentType + ';base64,' + person.profilePicture" style="max-height: 30px;" alt="person image"/>
                        </a>
                        <span *ngIf="person.profilePicture">{{ person.profilePictureContentType }}, {{ byteSize(person.profilePicture) }}</span>
                    </td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.birthdate | date:'medium' }}</td>
                    <td>{{ person.notes }}</td>
                    <td>{{ person.mobileNumber }}</td>
                    <td>{{ person.createdDate | date:'medium' }}</td>
                    <td>{{ person.lastModifiedDate | date:'medium' }}</td>
                    <td>
                        {{ person.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="person.status">
                            <a [routerLink]="['/status', person.status?.id, 'view']" >{{ person.status?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="person.preferredLanguage">
                            <a [routerLink]="['/language', person.preferredLanguage?.id, 'view']" >{{ person.preferredLanguage?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="person.gender">
                            <a [routerLink]="['/gender', person.gender?.id, 'view']" >{{ person.gender?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(person)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
