<div>
    <h2 id="page-heading">
        <span jhiTranslate="enotesApp.facilityUser.home.title">Facility Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility-user" [routerLink]="['/facility-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enotesApp.facilityUser.home.createLabel">
            Create a new Facility User
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facilityUsers?.length === 0">
        <span jhiTranslate="enotesApp.facilityUser.home.notFound">No facilityUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facilityUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.facilityUser.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.facilityUser.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.facilityUser.facility">Facility</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facilityUser of facilityUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/facility-user', facilityUser.id, 'view']">{{ facilityUser.id }}</a></td>
                    <td>{{ facilityUser.name }}</td>
                    <td>
                        {{ facilityUser.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="facilityUser.facility">
                            <a [routerLink]="['/facility', facilityUser.facility?.id, 'view']" >{{ facilityUser.facility?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facility-user', facilityUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facility-user', facilityUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facilityUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
