<div>
    <h2 id="page-heading">
        <span jhiTranslate="enotesApp.geoAssoc.home.title">Geo Assocs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-geo-assoc" [routerLink]="['/geo-assoc/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enotesApp.geoAssoc.home.createLabel">
            Create a new Geo Assoc
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="geoAssocs?.length === 0">
        <span jhiTranslate="enotesApp.geoAssoc.home.notFound">No geoAssocs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="geoAssocs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.geoAssoc.geo">Geo</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.geoAssoc.geoTo">Geo To</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.geoAssoc.geoAssocType">Geo Assoc Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let geoAssoc of geoAssocs ;trackBy: trackId">
                    <td><a [routerLink]="['/geo-assoc', geoAssoc.id, 'view']">{{ geoAssoc.id }}</a></td>
                    <td>
                        <div *ngIf="geoAssoc.geo">
                            <a [routerLink]="['/geo', geoAssoc.geo?.id, 'view']" >{{ geoAssoc.geo?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="geoAssoc.geoTo">
                            <a [routerLink]="['/geo', geoAssoc.geoTo?.id, 'view']" >{{ geoAssoc.geoTo?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="geoAssoc.geoAssocType">
                            <a [routerLink]="['/geo-assoc-type', geoAssoc.geoAssocType?.id, 'view']" >{{ geoAssoc.geoAssocType?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/geo-assoc', geoAssoc.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/geo-assoc', geoAssoc.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(geoAssoc)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
