<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="language">
            <h2><span jhiTranslate="enotesApp.language.detail.title">Language</span> {{ language.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enotesApp.language.isoLanguageCode">Iso Language Code</span></dt>
                <dd>
                    <span>{{ language.isoLanguageCode }}</span>
                </dd>
                <dt><span jhiTranslate="enotesApp.language.name">Name</span></dt>
                <dd>
                    <span>{{ language.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/language', language.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
