<div>
    <h2 id="page-heading">
        <span jhiTranslate="enotesApp.serviceCategory.home.title">Service Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-category" [routerLink]="['/service-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enotesApp.serviceCategory.home.createLabel">
            Create a new Service Category
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceCategories?.length === 0">
        <span jhiTranslate="enotesApp.serviceCategory.home.notFound">No serviceCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceCategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.sequenceNo">Sequence No</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.parentCategory">Parent Category</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.imagePath">Image Path</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="enotesApp.serviceCategory.lastModifiedDate">Last Modified Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceCategory of serviceCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/service-category', serviceCategory.id, 'view']">{{ serviceCategory.id }}</a></td>
                    <td>{{ serviceCategory.title }}</td>
                    <td>{{ serviceCategory.sequenceNo }}</td>
                    <td>{{ serviceCategory.parentCategory }}</td>
                    <td>{{ serviceCategory.imagePath }}</td>
                    <td>{{ serviceCategory.createdDate | date:'medium' }}</td>
                    <td>{{ serviceCategory.lastModifiedDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-category', serviceCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service-category', serviceCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(serviceCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
