<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-service-category-heading" jhiTranslate="enotesApp.serviceCategory.home.createOrEditLabel">Create or edit a Service Category</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.sequenceNo" for="field_sequenceNo">Sequence No</label>
                    <input type="number" class="form-control" name="sequenceNo" id="field_sequenceNo"
                           formControlName="sequenceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.parentCategory" for="field_parentCategory">Parent Category</label>
                    <input type="number" class="form-control" name="parentCategory" id="field_parentCategory"
                           formControlName="parentCategory"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.imagePath" for="field_imagePath">Image Path</label>
                    <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                           formControlName="imagePath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enotesApp.serviceCategory.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
