<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facilityGroup">
            <h2><span jhiTranslate="enotesApp.facilityGroup.detail.title">Facility Group</span> {{ facilityGroup.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enotesApp.facilityGroup.name">Name</span></dt>
                <dd>
                    <span>{{ facilityGroup.name }}</span>
                </dd>
                <dt><span jhiTranslate="enotesApp.facilityGroup.facilityGroupType">Facility Group Type</span></dt>
                <dd>
                    <div *ngIf="facilityGroup.facilityGroupType">
                        <a [routerLink]="['/facility-group-type', facilityGroup.facilityGroupType?.id, 'view']">{{ facilityGroup.facilityGroupType?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facility-group', facilityGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
